.w-slider-dot {
  width: 6px;
  height: 6px;
}

.w-slider-dot.w-active {
  width: 7px;
  height: 7px;
}

.w-slider-nav-invert>div {
  background-color: #00000040;
}

.bundle-container {
  background-color: #FAFAFA;
  transition: background-color 200ms ease-out;
}

.bundle-container:hover {
  background-color: #F3F3F3;
}

.body.large.book-name {
  transform: translateY(0);
  color: #333333;
  transition: transform 200ms ease-out, color 200ms ease-out;
}

.body.large.book-name:hover {
  transform: translateY(2px);
  color: #000000;
}
