.bundle-container {
  background-color: #FAFAFA;
  transition: background-color 100ms ease-out;
}

.bundle-container:hover {
  background-color: #F3F3F3;
}

.body.large.book-name {
  transform: translateY(0);
  color: #333333;
  transition: transform 100ms ease-out, color 100ms ease-out;
}

.body.large.book-name:hover {
  transform: translateY(2px);
  color: #000000;
}

.buy-collection-button::before {
  content: attr(data-text);
}

.buy-collection-button:hover::before {
  content: "See buying options";
}

.book-cover.books {
  transform: translateY(0);
  transition: transform 50ms ease-out;
}

.book-container:hover .book-cover.books, .book-container-small:hover .book-cover.books {
  transform: translateY(-10px);
}

.book-container, .book-container-small {
  background-color: #FAFAFA;
  transition: background-color 50ms ease-out;
}

.book-container:hover, .book-container-small:hover {
  background-color: #F3F3F3;
}
