@keyframes arrows-in-left {
  from { top: 0px; }
  to { top: -34px; }
}
@keyframes arrows-out-left {
  from { top: -34px; }
  to { top: 0px; }
}
@keyframes arrows-in-right {
  from { top: -34px; }
  to { top: 0px; }
}
@keyframes arrows-out-right {
  from { top: 0px; }
  to { top: -34px; }
}

.footer-logo .logo-animation-left-container {
  padding-bottom: 0;
  transition: padding-bottom 350ms ease-in-out;
}

.footer-logo:hover .logo-animation-left-container {
  animation-name: arrows-in-left;
  animation-duration: 350ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.footer-logo:not(:hover) .logo-animation-left-container {
  animation-name: arrows-out-left;
  animation-duration: 350ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}

.footer-logo .logo-animation-right-container {
  padding-top: 0;
  transition: padding-top 350ms ease-in-out;
}

.footer-logo:hover .logo-animation-right-container {
  animation-name: arrows-in-right;
  animation-duration: 350ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.footer-logo:not(:hover) .logo-animation-right-container {
  animation-name: arrows-out-right;
  animation-duration: 350ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}
