.window-device-frame {
    border-radius: 16px;
    border: 1px solid transparent;
    background: linear-gradient(to bottom, #FFFFFF80, #FFFFFF00 40%) border-box;
    -webkit-mask:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}

.window-device-frame-small {
    border-radius: 9px;
    border: 1px solid transparent;
    background: linear-gradient(to bottom, #FFFFFF80, #FFFFFF00 40%) border-box;
    -webkit-mask:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}

.close-window-frame {
    border-radius: 12px;
    border: 1px solid transparent;
    background: linear-gradient(to bottom, #FFFFFF, #FFFFFF31 40%) border-box;
    -webkit-mask:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}

.close-window-frame-small {
    border-radius: 10px;
    border: 1px solid transparent;
    background: linear-gradient(to bottom, #FFFFFF, #FFFFFF31 40%) border-box;
    -webkit-mask:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}

.themes-frame {
    border-radius: 0px 16px 16px 0px;
    border: 1px solid transparent;
    background: linear-gradient(to bottom, #FFFFFF33, #FFFFFF00 40%) border-box;
    -webkit-mask:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}

.code-block-frame {
    border-radius: 16px;
    border: 1px solid transparent;
    background: linear-gradient(to bottom, #FFFFFF33, #FFFFFF00 40%) border-box;
    -webkit-mask:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}

.left-hero-gif-frame,
.mobile-gif-container {
    border-radius: 16px;
    border: 1px solid transparent;
    background: linear-gradient(to bottom, #FFFFFF, #E2E2E2) border-box;
    -webkit-mask:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}

.right-hero-gif-frame {
    border-radius: 16px;
    border: 1px solid transparent;
    background: linear-gradient(to bottom, #FFFFFF, #E2E2E2) border-box;
    -webkit-mask:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}

.device-image {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 120px);
  filter: blur(120px);
}

.device-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.0012) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(120px);
}

@media (max-width: 719px) {
  .latest-project-content-container {
    flex-direction: column;
    max-height: none;
  }

  .latest-project-cover-container {
    width: auto;
  }

  .latest-project-details-container {
    margin-left: 24px;
  }
}

@media (max-width: 389px) {
  .window-device-frame-container.small {
    margin-right: 10px;
  }
}

.latest-project-content-container {
  background-color: rgba(255, 255, 255, 0.08);
  transition: background-color 200ms ease-out;
}

.latest-project-content-container:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.see-all-books-button {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.12);
  transform: translateY(0);
  transition: box-shadow 100ms ease-out, transform 100ms ease-out;
}

.see-all-books-button:hover {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-1px);
}


.browse-all-posts-button {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  transform: translateY(0);
  transition: box-shadow 100ms ease-out, transform 100ms ease-out;
}

.browse-all-posts-button:hover {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.12);
  transform: translateY(-1px);
}
