.w-nav-button.w--open {
     font-size: 16px;
     line-height: 24px;
     color: white;
     font-family: Akkurat;
}

.w-nav-button {
     font-size: 16px;
     line-height: 24px;
     color: white;
     font-family: Akkurat;
}

.w-nav-button:not(.menu-button.dark) {
  color: #061A28;
}

.w-nav-button.w--open:not(.menu-button.dark) {
  color: #061A28;
}

.w-nav-button:not(.menu-button.dark) {
  color: #061A28;
}

@media screen and (min-width: 799px) {
    .underline-animation {
         display: inline-block;
         position: relative;
    }

    .underline-animation::before {
         content: "";
         position: absolute;
         bottom: 17px;
         left: 0;
         right: 0;
         margin: 0 auto;
         width: 100%;
         opacity: 0;
         height: 1.5px;
         transition: all 0.3s ease-out;
    }

    .underline-animation:hover::before {
         opacity: 100%;
    }

    .nav-link.swift-talk.underline-animation::before {
         background-color: #0091D9;
    }

    .nav-link.books.underline-animation::before {
         background-color: #10B2B3;
    }

    .nav-link.workshops.underline-animation::before {
         background-color: #A433B6;
    }

    .nav-link.workshops.underline-animation.w--current {
         text-decoration: underline;
         text-underline-offset: 8px;
         text-decoration-color: #A433B6;
    }

    .nav-link.books.underline-animation.w--current {
         text-decoration: underline;
         text-underline-offset: 8px;
         text-decoration-color: #10B2B3;
    }

    .nav-link.swift-talk.underline-animation.w--current {
         text-decoration: underline;
         text-underline-offset: 8px;
         text-decoration-color: #0091D9;
    }

    .nav-link.dark.swift-talk.underline-animation::before {
         background-color: #8869E0;
    }

    .nav-link.dark.books.underline-animation::before {
         background-color: #10B2B3;
    }

    .nav-link.dark.workshops.underline-animation::before {
         background-color: #A433B6;
    }

    .nav-link.dark.workshops.underline-animation.w--current {
         text-decoration: underline;
         text-underline-offset: 8px;
         text-decoration-color: #A433B6;
    }

    .nav-link.dark.books.underline-animation.w--current {
         text-decoration: underline;
         text-underline-offset: 8px;
         text-decoration-color: #10B2B3;
    }

    .nav-link.dark.swift-talk.underline-animation.w--current {
         text-decoration: underline;
         text-underline-offset: 8px;
         text-decoration-color: #0091D9;
    }
}

@keyframes arrows-in-left {
  from { top: 0px; }
  to { top: -28.5px; }
}
@keyframes arrows-out-left {
  from { top: -28.5px; }
  to { top: 0px; }
}
@keyframes arrows-in-right {
  from { top: -28.5px; }
  to { top: 0px; }
}
@keyframes arrows-out-right {
  from { top: 0px; }
  to { top: -28.5px; }
}

.nav-logo-link-block .logo-animation-left-container {
  padding-bottom: 0;
  transition: padding-bottom 0.3s ease-in-out;
}

.nav-logo-link-block .logo-animation-left-container {
  animation-name: arrows-in-left;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.nav-logo-link-block .logo-animation-left-container {
  animation-name: arrows-out-left;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}

.nav-logo-link-block .logo-animation-right-container {
  padding-top: 0;
  transition: padding-top 0.3s ease-in-out;
}

.nav-logo-link-block .logo-animation-right-container {
  animation-name: arrows-in-right;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.nav-logo-link-block .logo-animation-right-container {
  animation-name: arrows-out-right;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}
