.subscription-term-radio-button.monthly[type="radio"]:checked ~ .subscription-choice-container.monthly {
  background-color: #FFFFFF;
}

.subscription-term-radio-button.monthly[type="radio"]:checked ~ .subscription-cost-label.monthly {
  color: #FFFFFF;
}

.subscription-term-radio-button.monthly[type="radio"]:checked ~ .subscription-term.monthly {
  color: #111E26BF;
}
