.project-container {
  background-color: rgba(255, 255, 255, 0.08);
  transition: background-color 200ms ease-out;
}

.project-container:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.episode-chapter-link {
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: padding-left 100ms ease-out, padding-right 100ms ease-out, border-bottom 100ms ease-out;
}

.episode-chapter-link:hover {
  padding-left: 2px;
  padding-right: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.p4.purple.chapter-timestamp {
  text-decoration: underline rgba(136, 105, 224, 0);
  transition: text-decoration 100ms ease-out;
}

.episode-chapter-link:hover .p4.purple.chapter-timestamp {
  text-decoration: underline rgba(136, 105, 224, 1);
}

.play-video-button {
  background-color: rgba(249, 247, 250, 0.15);
  box-shadow: 0 3px 16px 0 rgb(0 0 0 / 12%);
  transition: background-color 200ms ease-out, box-shadow 200ms ease-out;
}

.play-video-button:hover {
  background-color: rgba(249, 247, 250, 0.25);
  box-shadow: 0 3px 16px 0 rgb(0 0 0 / 30%);
}

.nano-text.medium-purple.small.project-title {
  color: #8869E0;
  transition: color 200ms ease-out;
}

.project-title-button {
  color: #8869E0;
  transition: color 200ms ease-out;
}

.project-title-button:hover {
  color: #CCBEF4;
}

.episode-dropdown-toggle {
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 200ms ease-out;
}

.episode-dropdown-toggle:hover:not(.w--open) {
  background-color: rgba(255, 255, 255, 0.08);
}

.secondary-button-small {
  background-color: rgba(255, 255, 255, 0.12);
  transition: background-color 200ms ease-out;
}

.secondary-button-small:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.episode-play-button {
  background-color: rgba(255, 255, 255, 0.12);
  transition: background-color 200ms ease-out;
}

.episode-play-button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.h6.episode-count {
  color: rgba(255, 255, 255, 0.75);
  font-weight: normal;
  transition: color 200ms ease-out, font-weight 200ms ease-out;
}

.h6.episode-count.current {
  font-weight: normal;
  transition: font-weight 200ms ease-out;
}

.h6.episode-count:hover {
  color: #FFFFFF;
  font-weight: bold;
}
