.app-frame {
    border-radius: 16px;
    border: 1px solid transparent;
    background: linear-gradient(to bottom, #FFFFFF80, #FFFFFF00 40%) border-box;
    -webkit-mask:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}

.close-window-frame {
    border-radius: 12px;
    border: 1px solid transparent;
    background: linear-gradient(to bottom, #FFFFFF, #FFFFFF31 40%) border-box;
    -webkit-mask:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}

@media (max-width: 882px) {
	.workshop-app-visual-content {
  	margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
    grid-row-gap: 40px;
  }
}

@media (max-width: 834px) {
	.workshop-app-visual-code-block {
  	font-size: 8px;
    line-height: 24px;
  }
}

.workshop-app-visual-slider-toggle {
  position: absolute;
  animation: move-right 2s linear infinite;
}

@keyframes move-right {
  0%, 10% {
    right: calc(0% - 9px);
    animation-timing-function: steps(1, end);
    animation-timing-function: ease-out;
  }
  33%, 50%, 66% {
    right: calc(50% - 9px);
    animation-timing-function: steps(1, end);
    animation-timing-function: ease-out;
	}
  90%, 100% {
    right: calc(0% - 9px);
    animation-timing-function: ease-out;
  }
}

.hello-world {
	position: absolute;
  animation: scale-text 2s linear infinite;
}

@keyframes scale-text {
	0%, 10% {
  	transform: scale(175%);
    animation-timing-function: steps(1, end);
    animation-timing-function: ease-out;
	}
  33%, 50%, 66% {
  	transform: scale(100%);
    animation-timing-function: steps(1, end);
    animation-timing-function: ease-out;
  }
  90%, 100% {
  	transform: scale(175%);
    animation-timing-function: ease-out;
  }
}

@media (max-width: 599px) {
  .what-we-cover-books-content {
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    padding: 24px 0 0;
  }

  .what-we-cover-books-details-container {
    padding: 24px 14px;
    backdrop-filter: blur(80px);
    background-color: rgba(0, 96, 100, 0.5);
    margin-top: -10px;
  }
}
